/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

body{
    background-color: brown;
    font-family: "Roboto", sans-serif;
}

.container{
    height: auto;
    background-color: white;
    border-radius: 20px;
    width: 36.5%;
    margin-left: 450px;
    margin-top: 100px;
    padding: 5%;
    
}

.text{
    color: blueviolet;
    text-decoration: solid;
}

.text1{
    text-align: left;
}
h2{
    color: brown;
}

.yes{
    color: brown;
    margin-left: 200px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: left;
    padding: 15px;
}

.img{
    border-radius: 5%;
}

.you{
    padding: 10px;
}

.we{
    padding: 7px;
}

.up{
    padding: 7px;
}